.container {
  box-sizing: border-box;
  padding: 120px;
  width: 80%;
  height: 100px;
  border: 10px solid black;
}

.container2 {
  box-sizing: content-box;
  margin-top: 50px;
  padding: 120px;
  width: 80%;
  height: 100px;
  border: 10px solid black;
}
