@media only screen and (min-width: 1251px) and (max-width: 1300px) {
    .res-img {
      width: 100%;
      height: 100%;
    }
    .map-img {
      width: 612px;
      height: 647px;
    }
    .dot-img {
      width: 100%;
      height: 100%;
    }
    .bg-img {
      width: 1120px;
      height: 647px;
    }
    .img-3 {
      top: 52%;
      right: 37%;
    }
    .img-2 {
      top: 31%;
      right: 14%;
    }
    .img-4 {
      top: 67%;
      right: 19%;
    }
    .footer-btn {
      top: 54%;
      left: 37%;
    }
  }


@media screen and (min-width: 1200px) and (max-width: 1366px) {
    .res-container {
      text-align: center;
    }
    .portfolio-two {
      margin-right: 10px;
    }
    .img-3 {
      top: 52%;
      right: 34%;
    }
    .img-2 {
      top: 31%;
      right: 2%;
    }
    .img-4 {
      top: 65%;
      right: 8%;
    }
    .img-5 {
      bottom: 9%;
      left: 20%;
    }
    .footer-btn {
      top: 65%;
      left: 37%;
    }
    .bg-img {
      position: absolute;
      top: 15%;
      left: 6%;
      opacity: 0.1;
    }
    .res-img {
      width: 100%;
      height: 100%;
    }
    .map-img {
      width: 612px;
      height: 647px;
    }
    .dot-img {
      width: 100%;
      height: 100%;
    }
    .bg-img {
      width: 1224px;
      height: 647px;
    }
    .table-index {
      left: 12%;
    }
  }
  