/* for mobile */
@media only screen and (min-width: 310px) and (max-width: 767px) {
}

/* for ipad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* for ipad pro */
@media only screen and (min-width: 1100px) and (max-width: 1250px) {
  .bg-img {
    position: absolute;
    top: 15%;
    left: -2%;
    opacity: 0.1;
  }
}

@media only screen and (min-width: 1251px) and (max-width: 1400px) {
  
.section1{
    width: 100vw;
}
  .res-container {
    text-align: center;
  }
  .portfolio-two {
    margin-right: 10px;
  }
  .img-3 {
    top: 52%;
    right: 37%;
  }
  .img-2 {
    top: 31%;
    right: 6%;
  }
  .img-4 {
    top: 66%;
    right: 11%;
  }
  .img-5 {
    bottom: 7%;
    left: 20%;
  }
  .footer-btn {
    top: 64%;
    left: 37%;
  }
  .bg-img {
    position: absolute;
    top: 15%;
    left: 2%;
    opacity: 0.1;
  }
}
