
.calculator {
  margin: 100px auto;
  width: 325px;
}


.result{
  width: 290px;
  height: 40px;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

.button{
  width: 75px;
  height: 75px;
  float: left;
  font-size: 20px;
}